@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}
.scrollbar-style::-webkit-scrollbar,
.cm-scroller::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-style::-webkit-scrollbar-corner,
.cm-scroller::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
.scrollbar-style::-webkit-scrollbar-track,
.cm-scroller::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 100rem;
}
.scrollbar-style::-webkit-scrollbar-thumb,
.cm-scroller::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background-image: linear-gradient(245deg, #c0c2c2, #bcbebe);
  @apply bg-slate-600;
}
